DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=alampunya
DB_NAME=agentic_ai

AI_ENCRYPTION_KEY=a8e6f5ce80604e5872021f8c276e3bba38f52d91873595f68083f4ae796ca62d

GOOGLE_CLIENT_ID=

# FREE API AI
NARAROUTER_API_KEY=sk-nry-4wB0ZEV7XlwnmhieR0iiVxw_H5NHMofZHim6ijjI_eg
NARAROUTER_MODEL=agnes-2.5-flash